#skills {
  position: relative;
  height: max-content;
}
.skills_one {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.skills_one h4 {
  text-align: center;
  justify-content: center;
  padding: 10px;
}

/* .skills__container > div {
  gap: 2rem;
} */

@media screen and (min-width: 700px) {
  #skills {
    margin-top: 10%;
  }
  .skills__container {
    grid-template-columns: 1fr;
  }

  .skills__container > div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }
}